.fondo{
    background-image: url(imagenes/fondo_cafe_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

.fondo_negro {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.fondo_negro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label{
    display: block;
    margin-bottom: 5px;
    font-family:  'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana;
}

input{
    border-radius: 5px;
    outline: none;
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    outline: none; /* Elimina el contorno al enfocar */
    font-family:  'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana;
}

input::placeholder {
    color: #999;
    font-style: italic;
}

.derecha{
    margin-top: 10%;
    margin-left: 55%; 
}

.texto{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}